// font
$font:      'Open Sans', sans-serif;

// color
$w:         #ffffff;
$grey:      #F6F6F6;
$bl1:       #000000;
$bl2:       #1B252F;

$green:     #36D7B6;
$blue:      #022046;
$blue2:     #2D3E50;